html, body {
    font-family: Arial, sans-serif;
    height: 100%; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;  /* 수평 스크롤 방지 */
}


body {
    overflow-y: auto;
}

/* 전체 페이지 */
.container {
    display: flex;
    height: 100%; 
    flex-direction: row;
}

label {
    display: block;
    margin-bottom: 5px;  
}
input, textarea {
    display: block;
    width: 93%; 
    margin-top: 5px; 
    margin-bottom: 15px; 
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

/* 사이드 바 */
.side_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background: #d8e1ff;
    transition: all 0.3s ease;
    font-size: 25px;
    color: #000000;
    overflow-y: auto; /* 사이드 바에서 스크롤 제어 */
}

/* 카테고리 및 버튼 */
.side_bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.side_bar li {
    width: 100%;
}

.side_bar h1 {
    text-align: center;
}

.side_bar a {
    display: block;
    padding: 8px 32px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    transition: background-color 0.3s;
}

.side_bar a:hover, .side_bar a:focus, .side_bar a.active {
    color: #ffffff;
    background-color: #b8c8ff;
}

.side_bar button {
    display: block;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    width: calc(100% - 20px);
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.side_bar button:hover, .side_bar button:focus {
    background-color: #b8c8ff;
    color: #000000;
    border-color: #354fd100;
}

.side_bar .btn_create {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

/* 카테고리 영역 */
.categories {
    flex-grow: 1;
    margin-left: 250px; 
    padding: 10px;
    background: #ffffff;
    overflow: visible; 
    height: 100%; 
    box-sizing: border-box; 
}

/* 캘린더의 기본 스타일 */
.calendar {
    display: none; /* 기본적으로 모든 캘린더 숨김 */
    padding: 10px;
    margin: 10px;
    height: auto; 
    max-height: 100%; 
    box-sizing: border-box;
}

/* 모달 팝업 영역 스타일링 */
.category, .event {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* 카테고리 팝업 */
.category .create_category_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #ffffff;
    border-radius: 20px;
    width: 50vw;
    max-width: 300px;
    height: 30vh;
    max-height: 180px;
    z-index: 10000;
}

/* 이벤트 팝업 */
.event .create_event_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #ffffff;
    border-radius: 20px;
    width: 50vw;
    max-width: 300px;
    height: 50vh;
    max-height: 470px;
    z-index: 10000;
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.category .create_category_popup .category_create,
.event .create_event_popup .event_create {
    display: block;
    padding: 10px 20px;
    background-color: rgb(12, 0, 116);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.category .create_category_popup .close_category_popup,
.event .create_event_popup .close_event_popup,
.event .create_event_popup .delete_event {
    display: block;
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

/* 이벤트 모달 내 textarea 스타일 */
#input_description {
    width: 100%;
    height: 100px;
    resize: none;
    box-sizing: border-box;
}
